@charset "utf-8";
/*
*Author zhaoxuhui
*/

//主体颜色
$mdv-primary: #292d35;
$mdv-light-primary: #323741;
$mdv-dark-primary: #1c1e24;
//
$mdv-info: #1890ff;
$mdv-success: #19be6b;
$mdv-warning: #ff9900;
$mdv-error: #ed3f14;
//
$mdv-title: #262626;
$mdv-content: #262626;
$mdv-sub-color: #80848f;
$mdv-disabled: #bbbec4;
$mdv-border: #d9d9d9;
$mdv-divider: #d9d9d9;
$mdv-background: #f7f7f7;
$mdv-tip: #c1c1c1;
$mdv-primary-rgba: rgba(49, 204, 102, 0.2);
$mdv-mask: rgba(0, 0, 0, 0.3);
$mdv-blue-rgba: rgba(0, 122, 204, 0.2);
$mdv-dark-info: #0169af;

$mdv-margin: 8px 0;
$mdv-line-height: 22px;
