$varuff-font-sizes: (
  lh1: 0.8rem,
  lh2: 0.6rem,
  h1: 0.36rem,
  lh3: 0.5rem,
  h2: 0.3rem,
  lh4: 0.4rem,
  h3: 0.27rem,
  h4: 0.24rem,
  lh5: 0.3rem,
  h5: 0.21rem,
  h6: 0.18rem,
  body1: 0.18rem,
  body2: 0.16rem,
  body3: 0.14rem,
  body-l: 0.15rem,
  body-m: 0.14rem,
  body-s: 0.13rem,
  lh6: 0.2rem,
  body4: 0.12rem,
  body5: 0.1rem,
  body6: 0,
);

$varuff-font-weights: (
  ws: 200,
  wms: 300,
  wm: 400,
  wlm: 500,
  wl: 700,
  wxl: 900,
);

$varuff-spaces: (
  xxxl-n: -1rem,
  xxl-n: -0.5rem,
  xl-n: -0.4rem,
  lx-n: -0.35rem,
  l-n: -0.3rem,
  lm-n: -0.25rem,
  m-n: -0.2rem,
  ms-n: -0.15rem,
  s-n: -0.1rem,
  xs-n: -0.05rem,
  xxs-n: -0.03rem,
  xxxs-n: -0.02rem,
  none: 0,
  xxxs: 0.02rem,
  xxs: 0.03rem,
  qs: 0.04rem,
  xs: 0.05rem,
  os: 0.08rem,
  s: 0.1rem,
  ms: 0.15rem,
  m: 0.2rem,
  lm: 0.25rem,
  l: 0.3rem,
  lx: 0.35rem,
  xl: 0.4rem,
  xxl: 0.5rem,
  xxxl: 1rem,
);

$varuff-border-radii: (
  none: 0,
  rs: 0.3rem,
  rms: 0.5rem,
  rm: 0.8rem,
  rlm: 0.1rem,
  rl: 0.15rem,
  rxl: 0.2rem,
  round: 50%,
);
